@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background: 2, 6, 23; /* slate-950 */
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  min-height: 100vh;
  antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
